    
    <main>
        {{#if hasProduct}}
            <div class="grid">
                {{#each prods}}
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">{{this.title}}</h1>
                        </header>
                        <div class="card__image">
                            <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiOgb-WrbnmAhXXyzgGHRTDAFcQjRx6BAgBEAQ&url=https%3A%2F%2Flithub.com%2Fthe-12-best-book-covers-of-august%2F&psig=AOvVaw3u8QiiTDkze0Fta7t2dP__&ust=1576557611153245" alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$9.99</h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                {{/each}}
            </div>
        {{else}}
            <h1>No product found</h1>
        {{/if}}
    </main>
