

<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>

<body>
    <main>
        <h2>Your cart looks empty</h2>
    </main>

<%- include('../includes/end.ejs') %>
